.section.project
  background-size: cover

  flex-direction: row
  justify-content: center

  max-width: 100%

  .text
    height: 70%
    padding: 0 2em

    text-align: left

    font-size: 1.35em

    .project-title
      font-size: 4rem
      font-weight: $fw-semibold

      margin-bottom: .4rem

      @include gradient-text()

    .description
      margin-bottom: 1rem

    .link
      @include border-radius()

      display: flex
      align-items: center

      border: 2px solid $color

      margin: .5em 0

      padding: .5em 1em

      transition: background .2s ease-in-out, color .2s ease-in-out

      &:hover
        background: $color
        color: $bkg

      &.web
        color: $primary
        border-color: $primary

        &:hover
          background: $primary
          color: $bkg

      span
        margin-left: 1rem
        font-size: 1.5em

    .heroku-warning
      @include border-radius()

      background: $primary
      color: $bkg

      text-align: center

      padding: .5em 1em

  img
    @include border-radius()

    max-width: 650px
    max-height: 500px
    object-fit: cover

@media screen and (max-width: $mobile)
  .section.project
    flex-direction: column-reverse

    .text
      font-size: 1.2rem
      padding: 0 .5rem

      .project-title
        font-size: 3rem

    img
      width: 100%
      margin-bottom: .5rem
