.title-content
  @include border-radius()

  background: $bkg
  padding: 3em 2em

  position: relative

  box-sizing: border-box

  width: 100%

  border-top-right-radius: $border-radius
  border-top-left-radius: $border-radius

  z-index: 100

  .section
    background: $darkbkg
    @include border-radius()

.section.empty
  background: none
  height: 100%

@media screen and (max-width: $mobile)
  .section.empty
    display: none

  .title-content
    padding: 0

    .section
      background: $bkg
