
.title-wrapper
  height: 100%
  position: fixed
  top: 0
  left: 0
  right: 0

  z-index: 1

  .section
    position: absolute
    top: 0

    border-radius: 0

    height: 100%

    .text
      font-size: 10em
      font-weight: 700

      position: sticky
      top: 35%

  .title
    background-attachment: fixed
    background: $gradient

    .text
      color: $bkg

  .title-invert
    
    .text
      background: $gradient
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
