$primary: #71fff6
$bkg: #27282e
$color: #eee

$darkbkg: #1e1e24

$gradient: linear-gradient(145deg, #71ff71, #71ffcb, #71fff6)

$mobile: 768px

$border-radius: 20px
$border-radius-mobile: 10px

$fw-bold: 750
$fw-semibold: 600
$fw-normal: 400
$fw-light: 300
